<div class="container pt-5 mb-5 pb-2">
	<div class="row justify-content-center">
		<div class="col-12">
			<div class="card text-center">
			
				<div class="card-header mdb-color blue-grey darken-2 white-text text-center py-3">
						BUSCADOR
				</div>

				<div class="card-body px-lg-5 pt-4">
					<%= form_tag users_path, method: :get do %>
						<div class="form-row">
							<div class="col-md-12 col-lg-10">
								<div class="md-form">
									<%= text_field_tag :search, @search_term, class: "form-control", autocomplete: 'off' %>
								</div>
							</div>
							<div class="col-md-12 col-lg-2">
								<%= submit_tag "Buscar", class: "form-control" %>
							</div>
						</div>
					<% end %>
				</div>
				
			</div>
		</div>
	</div>
</div>