<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns:x="urn:schemas-microsoft-com:office:excel"
    xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="Sheet1">
        <Table>
            <Row>
                <Cell><Data ss:Type="String">Temperatura de ingreso</Data></Cell>
                <Cell><Data ss:Type="String">Temperatura de salida</Data></Cell>
                <Cell><Data ss:Type="String">Persona</Data></Cell>
            </Row>
        <% @results3.each do |row| %>
            <Row>
                <Cell><Data ss:Type="String"><%= row["entrance_temperature"] %></Data></Cell>
                <Cell><Data ss:Type="String"><%= row["departure_temperature"] %></Data></Cell>
                <Cell><Data ss:Type="String"><%= row["person_id"] %></Data></Cell>
            </Row>
        <% end %>
        </Table>
    </Worksheet>
</Workbook>