  <div class="jumbotron">
        <div class="container">
          <h1 class="display-5 text-justify">PRIMER PROGRAMA PARA CONTROLAR LOS INGRESOS Y EGRESOS DE UNA PERSONA O DE UN NEGOCIO!</h1>
          <p>Evita contagios dentro de tu empresa y manten el control de quien ingresa y sale de tu negocio</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Ver más »</a></p>
        </div>
      </div>
  
  
    <div class="album py-5 bg-light">
    
      <div class="container">
        <hr class="my-4">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <i class="fas fa-chart-bar"></i>
              <div class="card-body">
                <h4 class="card-title">Reportes</h4>
                <p class="card-text text-justify">Imprime reportes detallados en varios formatos de las personas que entran y salen de su negocio, durante un periodo de tiempo predeterminado
</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <i class="fas fa-thermometer-three-quarters"></i>
              <div class="card-body">
                <h4 class="card-title">Alarma</h4>
                <p class="card-text text-justify">Alerta en caso de que se haya generado algun registro de una persona que tenga fiebre, con todos los datos de la perona que presento esta sintomatología.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <i class="fas fa-user-check"></i>
              <div class="card-body">
                <h4 class="card-title">Integridad</h4>
                <p class="card-text text-justify">Permite registrar una persona una sola vez y pueda tener muchos registros y llevar el control de ellos y guardarlos de forma segura en la nube.</p>
              </div>
            </div>
          </div>
          
        </div>
        <hr class="my-4">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <i class="fas fa-search"></i>
              <div class="card-body">
                <h4 class="card-title">Diseño amigable</h4>
                <p class="card-text text-justify">Facil acceso para clientes ya registrados, por medio de un buscador en la pagina principal</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <i class="fas fa-mobile-alt"></i>
              <div class="card-body">
                <h4 class="card-title">Responsive web</h4>
                <p class="card-text text-justify">Diseño responsive que permite trabajar desde dispositivos moviles.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <i class="fas fa-check-square"></i>
              <div class="card-body">
                <h4 class="card-title">Mantenimiento</h4>
                <p class="card-text text-justify">Constantes actualizaciones para la seguridad e integridad de la informacion.</p>
              </div>
            </div>
          </div>
          
        </div>
        <hr class="my-4">
      </div>
    </div>





<div class="my-4">

  <!-- Footer -->
  <footer class="page-footer font-small teal pt-4">
      <div class="container">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">
      
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">Redes Sociales</h5>
          <div class="col-md-12 py-5">
            <div class="mb-5 flex-center">
              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Pinterest-->
              <a class="pin-ic">
                <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
              </a>
            </div>
          </div>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
    </div>

  </footer>
  <!-- Footer -->
